.tableTitle{
    font-family: "Open Sans", sans-serif !important;
}

.MuiTableCell-root{
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px;
}

.gr__localhost{
    font-family: "Open Sans", sans-serif !important;
    font-size: 18px;

}